<ng-template #content let-modal class="myModal">
  <div class="modal-header">
    <h4
      class="modal-title"
      id="modal-basic-title"
      *ngIf="student; else addStudent"
    >
      Edit Student
    </h4>
    <ng-template #addStudent>
      <h4 class="modal-title" id="modal-basic-title">Add Student</h4>
    </ng-template>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form #formRef="ngForm" (ngSubmit)="modal.close(formRef)">
      <div class="mb-3">
        <label for="firstname-input" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstname-input"
          ngModel
          name="fname"
          required
          minlength="3"
          #fname="ngModel"
          [ngModel]="student ? student.fname : ''"
        />
      </div>
      <div
        class="alert alert-danger mt-2 mb-3 p-1 text-center"
        *ngIf="fname.invalid && fname.touched"
      >
        Enter a valid first name
      </div>
      <div class="mb-3">
        <label for="lastname-input" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastname-input"
          name="lname"
          ngModel
          required
          minlength="3"
          #lname="ngModel"
          [ngModel]="student ? student.lname : ''"
        />
      </div>
      <div
        class="alert alert-danger mt-2 mb-3 p-1 text-center"
        *ngIf="lname.invalid && lname.touched"
      >
        Enter a valid last name
      </div>
      <div class="mb-3">
        <label for="email-input" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email-input"
          name="email"
          ngModel
          required
          email
          #email="ngModel"
          [ngModel]="student ? student.email : ''"
        />
      </div>
      <div
        class="alert alert-danger mt-2 mb-3 p-1 text-center"
        *ngIf="email.invalid && email.touched"
      >
        Enter a valid email
      </div>
      <div class="mb-3">
        <label class="form-label">Gender</label>
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="radio"
              name="gender"
              value="male"
              class="form-check-input"
              checked
              ngModel
              required
              [ngModel]="student ? student.gender : ''"
            />
            Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input
              type="radio"
              name="gender"
              value="female"
              class="form-check-input"
              ngModel
              required
              [ngModel]="student ? student.gender : ''"
            />
            Female
          </label>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Birth Date</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
            ngModel
            required
            [(ngModel)]="date"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
      </div>
      <div
        class="alert alert-danger mt-2 mb-3 p-1 text-center"
        *ngIf="
          formRef.controls['dp'] &&
          formRef.controls['dp'].invalid &&
          formRef.controls['dp'].touched
        "
      >
        Select a birth date
      </div>
      <ng-select
        name="country"
        ngModel
        required
        placeholder="select country"
        [ngModel]="countries.length ? countries[0] : null"
        #country="ngModel"
        [ngModel]="student ? student.country : ''"
      >
        <ng-option *ngFor="let country of countries" [value]="country">{{
          country
        }}</ng-option>
      </ng-select>
      <div
        class="alert alert-danger mt-2 mb-3 p-1 text-center"
        *ngIf="country.invalid && country.touched"
      >
        Select a country
      </div>
      <div class="modal-footer">
        <button class="btn btn-warning" (click)="modal.dismiss('Close button')">
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!formRef.valid"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-lg btn-success mb-3" (click)="open(content)">
  New
</button>
